# Dependency directories
api/node_modules/
game/node_modules/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
api/package-lock.json
game/package-lock.json
game/.env
```
