html,
body {
  height: 100vh;
  background-color: #00b1ff;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  direction: column;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 100vh; /* Take up the full height of the viewport */
}

.main-container {
  position: relative;
  margin: 0 auto; /* Center horizontally within the .App container */
}

.main-header {
  font-family: "Big Shoulders Display", cursive;
  font-size: 100px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #fdae05;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Big Shoulders Display", cursive;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90%;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #fdae05;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

#play-button {
  margin-top: 30px;
  font-size: 40px;
}

.creator-container {
  font-weight: 800;
  position: relative;

  width: 300px;
  margin: 0 auto;
  top: 120px;
}

.creator-container a {
  text-decoration: none;
  color: black;
}

.creator {
  font-family: "Roboto Mono", monospace;
  color: white !important;
}

.error-message {
  font-family: "Roboto Mono", monospace;
  color: black;

  background-color: #fdae05;
  padding: 10px;
  border-radius: 10px;
}

.custom-heading {
  font-family: "Big Shoulders Display", cursive;
  color: black;
  font-size: 3rem;
  font-weight: 800;
}

/* Custom styles for the MDBCard */
.custom-card-container {
  padding: 20px;
  height: auto; /* Set the container to cover the full viewport height */
}

.custom-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px; /* Set a max width to prevent it from stretching too wide */
  margin: 0 auto; /* Add this line to center the card horizontally */
  background-color: #fdae05;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  display: flex; /* Use flexbox for centering the contents */
  flex-direction: column; /* Stack the card's content vertically */

  justify-content: center; /* Center the content vertically */
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-29 20:31:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.custom-card-title {
  padding-top: 5px;
  font-family: "Roboto Mono", monospace;
  color: black;
  font-weight: bold;

  text-align: center; /* Center the title text */
}

ul {
  list-style: none;
  text-align: center;
}

ul li {
  font-weight: 800;
}

.custom-card-text {
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 16px;
  padding: 10px;
  text-align: center; /* Center the text content */
}

h4 {
  font-weight: 600;
}

.table {
  max-width: 400px; /* Set a max width to prevent it from stretching too wide */
  margin: 0 auto; /* Add this line to center the card horizontally */
  background-color: #fdae05;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;

  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-family: "Roboto Mono", monospace;
  padding: 50px !important;
}

.table th,
.table td {
  background-color: #fdae05;
  border-radius: 10px;
  border-bottom: 3px solid black;
 text-align: end;
  color: black;
}
.column-2{
  text-align: start !important;
}

#username-id{
  text-align: start;
}

.score-1{
  font-size: 1.5rem;
 
}

.score-2 {
  font-size: 1.35rem;
}

.score-3 {
  font-size: 1.2rem;
}

.score-custom{
 color: red;
}

.timer {
  position: relative;
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 25px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

.form-container {
  position: relative;
  margin: 0 auto;
  background-color: #fdae05;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 400px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 15px;
}

.form-container input {
  height: 100px;
  width: 50px;
}

.form-control {
  font-family: "Big Shoulders Display", cursive;
  color: black;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}
.unlock {
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 35px !important;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 200px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border: 2px black solid;
}

.play-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Other styles */
}

@media (max-width: 767px) {
  html,
  body {
    height: 100vh;
    overflow-x: hidden; /* Disables horizontal scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
  }

  .form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 380px;

    /* any other styles you want to adjust for smaller screens */
  }
  .form-container input {
    height: 80px;
    width: 50px;
  }
  .unlock {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 78px !important;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 120px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
}

.arrow-container {
  position: absolute;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
}

.form-container .form-control.userName {
  height: 50px !important;
  width: 350px !important;
}

.form-container .form-control.userName {
  font-size: 1rem;
}

form-container.scoreholder {
  display: flex;
  direction: column !important;
}

form-container.scoreholder h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  text-align: center;
}

.score-show {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 1rem;
  text-align: center;
}

.button-19.scoreholder {
  border: 3px solid black;
}

/*Animations for arrow container*/

.blink-arrow {
  -webkit-animation: blink-1 0.4s ease-in-out both;
  animation: blink-1 0.4s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-2 14:50:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.button-disabled {
  color: red;
  border: 3px red solid;
}
